= simple_form_for [:admin, @review] do |f|
  = f.input :title
  = f.input :text, as: :text
  .form-group
    - if @review.image.present?
      = image_tag attachment_url(@review, :image, format: "jpg"), class: "img-responsive"
  .form-group
    %div
      %label.text.optional.control-label
        Изображение
    = f.attachment_field :image
  = f.submit t(action_name), class: 'btn btn-primary'