.row
  .col-lg-12
    .clearfix
      %h1.pull-left= Review.model_name.human(count: 2)
      .pull-right.top-page-ui
        = link_to new_admin_review_path, class: "btn btn-primary pull-right" do
          %i.fa.fa-plus-circle.fa-lg
          = t('.add')

.row
  .col-lg-12
    .main-box.no-header.clearfix
      .main-box-body.clearfix
        .table-responsive
          %table.table
            %thead
              %tr
                %th= t('.pictire')
                %th= han(Review, :title)
                %th= han(Review, :text)
                %th
            %tbody
              - @reviews.each do |review|
                %tr
                  %td{style: 'width: 300px'}= image_tag attachment_url(review, :image, :fill, 300, 300, format: "jpg")
                  %td= review.title
                  %td= review.text
                  %td{style: "width: 15%"}
                    = link_to edit_admin_review_path(review), class: "table-link" do
                      %span.fa-stack
                        %i.fa.fa-square.fa-stack-2x
                        %i.fa.fa-pencil.fa-stack-1x.fa-inverse
                    = link_to admin_review_path(review), method: :delete, data: {confirm: t('confirm')}, class: "table-link danger" do
                      %span.fa-stack
                        %i.fa.fa-square.fa-stack-2x
                        %i.fa.fa-trash-o.fa-stack-1x.fa-inverse

