.row
  .col-lg-12
    .clearfix
      %h1.pull-left
        = Gallery.model_name.human(count: 2)
        %small= t(".sub_title")
.row
  .col-lg-12
    .main-box.no-header.clearfix
      .main-box-body.clearfix
        = react_component('GalleryForm', gallery: @gallery_serialized,
                                         categories: @categories_serialized,
                                         attachments: @attachments_serialized,
                                         actionUrl: api_admin_gallery_path(@gallery.id),
                                         existPictures: @pictures_serialized,
                                         submitTitle: 'Изменить галерею')