.row
  .col-lg-12
    .clearfix
      %h1.pull-left
        = Gallery.model_name.human(count: 2)
        %small= t(".sub_title")
.row
  .col-lg-12
    .main-box.no-header.clearfix
      .main-box-body.clearfix
        = react_component('GalleryForm', categories: @categories_serialized, actionUrl: api_admin_galleries_path, submitTitle: 'Дабавить галерею')
