.root {

}
.item {
  min-height: 200px;
  margin-bottom: 50px;
  text-align: center;
}
.itemPlaceholder {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.itemImg {
  max-width: 100%;
}