.root{

}

.fileList {
  display: flex;
  flex-wrap: wrap;
}
.fileItem {
  position: relative;
  flex-basis: calc(20% - 20px);
  width: calc(20% - 20px);
  margin-right: 20px;
  margin-bottom: 10px;
}
.fileImg {
  width: 100%;
}
.fileCheckbox {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, .5);
  padding: 5px;
  line-height: 1;
  font-size: 0;
  border-radius: 3px;
}
.fileCheckboxInput {
  margin: 0 !important;
}