.row
  .col-lg-12
    .clearfix
      %h1 Избранные фото

.row
  .col-lg-12
    .main-box.no-header.clearfix
      .main-box-body.clearfix
        = react_component('Favorites.FavoritesPicture')
        = paginate @pictures