= simple_form_for [:admin, @picture] do |f|
  = f.input :title
  .form-group
    - if @picture.image.present?
      = image_tag attachment_url(@picture, :image, :limit, 400, 500, format: "jpg"), class: "img-responsive"
  .form-group
    %div
      %label.text.optional.control-label
        Изображение
    = f.attachment_field :image
  = f.submit t(action_name), class: 'btn btn-primary'