.row
  .col-lg-12
    .clearfix
      %h1.pull-left
        = Picture.model_name.human(count: 2)
        %small= t(".sub_title")
.row
  .col-lg-12
    .main-box.no-header.clearfix
      .main-box-body.clearfix
        = react_component('NewPictureForm')