.intro
  .intro__content
    %h1.intro__title Отзывы
.reviews-page
  .l-center.l-center_narrow
    %section.reviews-list
      - @reviews.each do |review|
        %article.reviews-item
          .reviews-item__pic
            = image_tag attachment_url(review, :image, :fill, 80, 80, format: 'jpg'), class: "reviews-item__img"
          .reviews-item__content
            .reviews-item__title= review.title
            .reviews-item__descr= review.text