.intro
  .intro__content
    %h1.intro__title= @gallery.title
    %h2.intro__sub-title
      Галереи:
      - @categories.each do |category|
        = link_to category.title, category, class: 'intro__link'

= react_component('Gallery', pictures: @pictures_serialized)