- if Rails.env.production?
  / Yandex.Metrika counter
  :javascript
    (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
    try {
    w.yaCounter21293449 = new Ya.Metrika({
    id:21293449,
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true
    });
    } catch(e) { }
    });
    
    var n = d.getElementsByTagName("script")[0],
    s = d.createElement("script"),
    f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";
    
    if (w.opera == "[object Opera]") {
    d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
  %noscript
    %div
      %img{:alt => "", :src => "https://mc.yandex.ru/watch/21293449", :style => "position:absolute; left:-9999px;"}/
  / /Yandex.Metrika counter
