%footer.footer.js-footer
  .footer__social
    %span.footer__social-icon
      = link_to 'https://vk.com/happsy', class: 'fa fa-vk footer__social-link', target: '_blank' do
        %span.footer__social-icon-title vk.com/happsy
    %span.footer__social-icon
      = link_to 'https://www.instagram.com/galichnikov_dmitry/', class: 'fa fa-instagram footer__social-link', target: '_blank' do
        %span.footer__social-icon-title instagram.com/galichnikov_dmitry