%header.header.js-header
  .header__inner
    .header__logo
      = link_to root_path, class: 'logo' do
        = image_tag 'logo.png', class: 'header__img'
    .header__nav-menu
      = render 'shared/nav_menu'