%nav.nav-menu
  %ul.nav-menu__list
    %li.nav-menu__item
      = link_to t('.main'), root_path, class: 'nav-menu__item-link'
    %li.nav-menu__item
      .nav-menu__item-drop
        %span.nav-menu__item-drop-title
          = t('.category')
        %div.nav-menu__submenu
          - categories_menu.each do |category|
            = link_to category.title, category_path(category), class: 'nav-menu__item-sublink'
    %li.nav-menu__item
      = link_to t('.contacts'), about_me_path, class: 'nav-menu__item-link'
    %li.nav-menu__item
      = link_to t('.reviews'), reviews_path, class: 'nav-menu__item-link'
    %li.nav-menu__item
      = link_to t('.servise'), uslugi_path, class: 'nav-menu__item-link'
