.root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery {

}
.galleryContainer {
  height: 100%;
}
.galleryWrapper {
  background-size: cover;
  background-position: center;
}

.pagination {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}