.intro {
  min-height: 200px;
  background: $content-bg;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro__content {
  text-align: center;
}
.intro__title {
  position: relative;
  font-size: 3.6rem;
  padding: 0 50px;
  &:after {
    content: '';
    position: relative;
    display: block;
    width: 300px;
    border-top: 1px solid $base-color;
    margin: 25px auto;
    z-index: 1;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 11px;
    height: 11px;
    margin-left: -5px;
    border: 1px solid $base-color;
    background: $content-bg;
    transform: rotate(45deg);
    z-index: 2;
  }
}

.intro__sub-title {
  display: block;
  position: relative;
  font-size: 1.4rem;

}

.intro__link {
  color: $base-color;
  text-decoration: none;
}