.work-grid {
  display: flex;
  flex-wrap: wrap;
}
.work-grid-item {
  position: relative;
  flex-basis: calc(25% - 30px);
  height: 222px;
  margin-right: 40px;
  margin-bottom: 30px;
  &:nth-child(4n) {
    margin-right: 0;
  }
}
.work-grid-item__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  &:hover {
    .work-grid-item__title {
      opacity: 1;
    }
  }
}
.work-grid-item__title {
  transition: all 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .7);
}
.work-grid-item__title-inner {
  font-size: 1.3rem;
  letter-spacing: 4px;
  color: #000;
  text-transform: uppercase;
}