.about-me {
  display: flex;
  margin-bottom: 30px;
}
.about-me__content {
  padding-top: 15px;
  padding-right: 30px;
  p {
    margin-bottom: 20px;
  }
}
.about-me__photo {
  flex: 0 0 230px;
}
.about-me__social-link {
  color: $base-color;
  text-decoration: none;
  &:before {
    width: 15px;
    display: inline-block;
    text-align: center;
  }
}
.about-me__social-title {
  vertical-align: middle;
  margin-left: 10px;
  font-family: 'Open Sans';
}