html{
  background: #fff;
  font-family: 'Open Sans';
  font-size: 10px;
}
body{
  font-size: 1.2rem;
  color: $base-color;
}

a{
  transition: all 0.3s ease;
  color: $link;
  &:hover{
    color: $link-hover;
  }
}

input, textarea{
  outline: none;
  font-family: 'Open Sans';
}
button{
  font-family: 'Open Sans';
}

img {
  max-width: 100%;
  vertical-align: middle;
}

p {
  line-height: 1.5;
}

.headline {
  font-size: 3rem;
  line-height: 3.6rem;
  margin-bottom: 20px;
}

.button{
  transition: all .3s ease;
  font-size: 1.1rem;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 15px;
  letter-spacing: 3px;
  border: 1px solid #282828;
  background-color: #282828;
  color: #fff;
  cursor: pointer;
}

.form-group{
  margin-bottom: 15px;
}
.form-control{
  transition: all .3s ease;
  width: 100%;
  height: 20px;
  background-color: transparent;
  border: 1px solid #8B8B8B;
  padding: 22px 15px;
  color: #7C7C7C;
  font-size: 13px;
}
.control-label{
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
}


.swiper-pagination {
  position: relative;
  display: inline-block;
  background: rgba($content-bg, .6);
  padding: 10px 10px 8px;
  border-radius: 5px;
}
.swiper-pagination-bullet {
  margin: 0 3px;
  width: 10px;
  height: 10px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
.swiper-pagination-bullet-active {
  background: $base-color;
}

.months-container {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
  .month-container {
    flex-basis: 12%;
  }
}
.calendar table.month th.month-title {
  padding-bottom: 10px;
}
.calendar table td.day {
  border-radius: 4px;
}
.calendar table.month td.day .day-content:hover {
  background: none;
  cursor: default;
}