.footer{
  transition: all 0.3s ease;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height;
  background: #fff;
  box-shadow: 0 0px 10px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
  &.hide-panels {
    bottom: -$footer-height;
  }
}

.footer__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: $footer-height;
  padding: 0 60px;
}
.footer__social-icon {
  margin: 0 10px;
}
.footer__social-link {
  color: $base-color;
  text-decoration: none;
  font-size: 2.6rem;
}

.footer__social-icon-title {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-family: "Open Sans";
  vertical-align: middle;
  margin-left: 10px;
}