.header{
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background: #fff;
  box-shadow: 0 0px 10px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
  &.hide-panels {
    top: -$header-height;
  }
}
.header__logo {
  padding-top: 10px;
  margin-bottom: 10px;
}
.header__img {
  height: 60px;
}
.header__inner{
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  text-align: center;
  height: $header-height;
  padding: 0 60px;
}
.header__nav-menu{}

.logo {
  text-decoration: none;
  color: $base-color;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 2px;
}