.l-wrap{}
.l-basic{
  position: relative;
  min-height: calc(100vh - #{$header-plus-footer-height});
  //background: $content-bg;
  background-size: cover;
  margin: $header-height 0 $footer-height;
}
.l-content{}
.l-center {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;

  &_full-height {
    min-height: calc(100vh - #{$header-plus-footer-height});
  }
  &_narrow {
    max-width: 900px;
  }
}


@media #{$xs} {}
@media #{$sm} {}
@media #{$md} {}
@media #{$lg} {}
@media #{$xl} {}
@media #{$xxl} {}
@media #{$xxxl} {}