.nav-menu{
}
.nav-menu__list{
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.nav-menu__item{
  height: inherit;
}
.nav-menu__item-link, .nav-menu__item-drop-title{
  padding: 0 15px 19px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.1rem;
  text-decoration: none;
  letter-spacing: 2px;
  color: $base-color;
  cursor: pointer;
  &:hover{
    color: #000
  }
  &.nav-menu__item-link_active{
    color: #000
  }
}

.nav-menu__item-drop {
  position: relative;
  &:hover {
    .nav-menu__submenu {
      height: auto;
      opacity: 1;
    }
  }
}

.nav-menu__submenu {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: -60px;
  height: 0;
  overflow: hidden;
}

.nav-menu__item-sublink {
  display: block;
  min-width: 200px;
  padding: 15px 22px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1rem;
  color: $base-color;

}