.reviews-page {}
.reviews-list {}
.reviews-item {
  display: flex;
  margin-bottom: 30px;
}
.reviews-item__pic {
  flex: 0 0 80px;
}
.reviews-item__img {
  border-radius: 200px;
  width: 80px;
  height: 80px;
}
.reviews-item__content {
  flex-grow: 1;
  padding-left: 30px;
  padding-top: 20px;
}
.reviews-item__title {
  font-size: 2rem;
  margin-bottom: 10px;
  color: $black;
}
.reviews-item__descr {
  font-size: 1.2rem;
  line-height: 2rem;
}