.services {
  position: relative;

  height: 100%;
}
.services__inner {
  position: relative;
  height: 100%;
  overflow: auto;
  padding-bottom: 50px;
}

.package-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: auto
}
.package-item {
  flex-basis: 100%;
  padding: 0;
  margin-bottom: 50px;
}
.package-item__header {
  text-align: center;
  margin-bottom: 15px;
}
.package-item__title {
  font-size: 2rem;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 10px
}
.package-item__price {
  font-size: 1.8rem;
  color: #000;
}
.package-item__pic {
  margin-bottom: 20px;
}
.package-item__img {

}
.package-item__content {
  padding: 0 10px
}
.package-item__list {
  margin-left: 0;
}
.package-item__list-item {
  position: relative;
  list-style: none;
  padding-left: 10px;
  line-height: 2.5rem;
  &:before {
    content: "- ";
    position: absolute;
    top: 0;
    left: 0;

  }
}


// Календарь


.rbc-event {
  background: $content-bg;
  color: $base-color;
  margin-top: 5px;
  cursor: default;
}

@media only screen and (min-width: 1024px) {
  .package-item {
    flex-basis: calc(50% - 10px);
    padding: 0 10px;
  }
}
@media only screen and (min-width: 1280px) {
  .package-item {
    flex-basis: calc(25% - 10px);
    margin-bottom: 0;
  }
}