// Color-names
$black: #000;

// Color scheme
$link: #000;
$link-hover: #3f3f3f;

$base-color: #7c7c7c;

$input-border-color: #8B8B8B;

$content-bg: #F4F4F4;


//social colors
$facebook-color: #3b5998;
$vk-color: #4c75a3;
$od-color: #f48420;
$mail-color: #168de2;

//fonts
$roboto: "Roboto";

//sizes
$layout-padding: 20px;

$screen-xs-min: 512px;
$screen-sm-min: 768px;
$screen-md-min: 1024px;
$screen-lg-min: 1200px;
$screen-xl-min: 1440px;
$screen-xxl-min: 1600px;
$screen-xxxl-min: 1920px;

$header-height: 110px;
$footer-height: 60px;
$header-plus-footer-height: $header-height + $footer-height;


//Mixins
@mixin vert-middle($position: relative, $align: both){
  position: $position;
  @if ($align == top) {
    top: 50%;
    transform: translate(0, -50%);
  } @else if ($align == left){
    left: 50%;
    transform: translate(-50%, 0);
  } @else {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
