!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    -#%meta{name: "viewport", content: "width=device-width, initial-scale=1, user-scalable=no"}/
    - if content_for? :title
      = yield :title
    - else
      %title!= 'Happsyphoto'
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic-ext", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic&subset=latin,cyrillic-ext", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    = env_stylesheet_link_tag(static: 'web/application_static', hot: ['http://0.0.0.0:9090/web-bundle.css', 'web/application_non_webpack'], media: 'all')

    = include_gon
    = javascript_include_tag 'web/application', 'data-turbolinks-track' => true
    = env_javascript_include_tag(hot: ['http://0.0.0.0:9090/vendor-bundle.js', 'http://0.0.0.0:9090/web-bundle.js'])
    = env_javascript_include_tag(static: 'application_static', hot: 'application_non_webpack')
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    = render "shared/counter"
    .l-wrap
      = render "shared/header"
      .l-basic
        .l-content
          = yield
    = render "shared/footer"
    = react_component('ScrollToTop')
