.intro
  .intro__content
    %h1.intro__title= @category.title
    %h2.intro__sub-title Галереи

%section.category-page
  .l-center
    .work-grid
      - @galleries.each do |gallery|
        .work-grid-item
          = link_to gallery_path(gallery), class: 'work-grid-item__link', style: "background-image: url(#{attachment_url(gallery, :cover, format: "jpg")})" do
            .work-grid-item__title
              %span.work-grid-item__title-inner= gallery.title