.login-form
  .login-form__inner
    = simple_form_for @user, url: admin_session_path do |f|
      = f.input :email
      = f.input :password
      = f.submit "Войти", class: "button"
      - flash.each do |name, msg|
        .flash-message__item
          = msg