.row
  .col-lg-12
    .clearfix
      %h1.pull-left= Page.model_name.human(count: 2)
      .pull-right.top-page-ui
        = link_to new_admin_page_path, class: "btn btn-primary pull-right" do
          %i.fa.fa-plus-circle.fa-lg
          = t('.add')

.row
  .col-lg-12
    .main-box.no-header.clearfix
      .main-box-body.clearfix
        .table-responsive
          %table.table
            %thead
              %tr
                %th= han(Page, :title)
                %th
            %tbody
              - @pages.each do |page|
                %tr
                  %td= page.title
                  %td{style: "width: 15%"}
                    = link_to edit_admin_page_path(page), class: "table-link" do
                      %span.fa-stack
                        %i.fa.fa-square.fa-stack-2x
                        %i.fa.fa-pencil.fa-stack-1x.fa-inverse
                    = link_to admin_page_path(page), method: :delete, data: {confirm: t('confirm')}, class: "table-link danger" do
                      %span.fa-stack
                        %i.fa.fa-square.fa-stack-2x
                        %i.fa.fa-trash-o.fa-stack-1x.fa-inverse


