.ReactModalPortal{
  position: relative;
  z-index: 10000;
}
.ReactModal__Overlay{
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  outline: 0;
  z-index: 1050;
  background-color: rgba(0, 0, 0, .5);
}

.ReactModal__Overlay--after-open {
  display: block;
}

.ReactModal__Content {
  width: 600px;
  margin: 30px auto;
  outline: none;
}

// Body remove scroll
.modal__is-open{
  display: block;
}
.ReactModal__Content--after-open {
  display: block;
}

.modal__scrollbar-measure {
  position: absolute;
  top: -99999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
/*


.modal {
  .modal__close{
    font-size: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  &.modal_configurator{
    width: 870px;
    padding-left: 0;
    padding-right: 0;
  }
}

.modal__header {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-bottom: 40px;
}
.modal__content {
  padding: 1px 0;
}
.modal__content_type_purchase {
  width: 600px;
}

*/
