.file-row {
   
  &.file-row_delete-exist-file {
    display: none;
  }
}

.picture-notification-error {

}
.picture-notification-error__title {}
.picture-notification-error__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.picture-notification-error__item {
  position: relative;
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
}
.picture-notification-error__item-img {
  width: 100%;
}
.picture-notification-error__item-filename {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.6);
  padding: 3px 5px;
  color: #fff;
  font-size: 1rem;
}