.intro
  .intro__content
    %h1.intro__title Услуги
.l-center
  = @servise.body.html_safe
.l-center.l-center_narrow
  %h2.headline Календарь
  = react_component('CalendarEvents', events: @events_serialized)