#col-left.col-left-nano
  #col-left-inner.col-left-nano-content
    #user-left-box.clearfix.hidden-sm.hidden-xs
      .user-box
        %span.name= t('.welcome').html_safe
        %span.status
          %i.fa.fa-circle
          Online
    #sidebar-nav.collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.nav-pills.nav-stacked
        = active_link_to admin_galleries_path, wrap_tag: 'li' do
          %i.fa.fa-camera
          %span= Gallery.model_name.human(count: 2)
        = active_link_to admin_pictures_path, wrap_tag: 'li' do
          %i.fa.fa-image
          %span= Picture.model_name.human(count: 2)
        = active_link_to admin_categories_path, wrap_tag: 'li' do
          %i.fa.fa-th-large
          %span= Category.model_name.human(count: 2)
        = active_link_to admin_calendars_path, wrap_tag: 'li' do
          %i.fa.fa-calendar
          %span= Calendar.model_name.human(count: 1)
        = active_link_to admin_reviews_path, wrap_tag: 'li' do
          %i.fa.fa-users
          %span= Review.model_name.human(count: 2)
        = active_link_to admin_pages_path, wrap_tag: 'li' do
          %i.fa.fa-file-text-o
          %span= Page.model_name.human(count: 2)