%header#header-navbar.navbar
  .container
    = link_to 'Happsyphoto', admin_root_path, class: 'navbar-brand'
    .clearfix
      #header-nav.nav-no-collapse.pull-right
        %ul.nav.navbar-nav.pull-right
          %li.hidden-xxs
            = link_to admin_session_path, method: :delete, class: 'btn' do
              %i.fa.fa-power-off

