!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    - if content_for? :title
      = yield :title
    - else
      %title!= 'Happsyphoto admin'
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic-ext", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic&subset=latin,cyrillic-ext", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    = env_stylesheet_link_tag(static: 'admin/application_static', hot: ['http://localhost:9090/admin-bundle.css', 'admin/application_non_webpack'], media: 'all')

    = include_gon
    = javascript_include_tag 'admin/application', 'data-turbolinks-track' => true
    = env_javascript_include_tag(hot: ['http://localhost:9090/vendor-bundle.js', 'http://localhost:9090/admin-bundle.js'])
    = env_javascript_include_tag(static: 'application_admin_static', hot: 'application_admin_non_webpack')
    = csrf_meta_tags
    :javascript
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.default_locale}";
    = favicon_link_tag 'favicon.ico'
  %body
    = render 'shared/admin/header'
    #page-wrapper.container
      .row
        #nav-col
          = render 'shared/admin/aside'
        #content-wrapper
          .row
            .col-lg-12
              = yield
